.mc-arrow {
  &[data-theme="aa"] {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 10%;
    right: 1rem;
    overflow: hidden;

    transform: scale3d(1, 1, 1);
    transition: transform .1s;

    &:active {
      transform: scale3d(.9, .9, 1);
    }

    &[data-status="none"] {
      pointer-events: none;
      opacity: 0;
    }

    &[data-status="up"] {
      & > .mc-arrow-icon {
        transform: translate3d(0, -50%, 0);
      }
    }

    &[data-status="down"] {
      & > .mc-arrow-icon {
        transform: translate3d(0, 0%, 0);
      }
    }

    & > .mc-arrow-icon {
      position: absolute;
      width: 100%;
      height: 200%;
      top: 0;
      left: 0;
      transform: translate3d(0, -50%, 0);
      transition: all .3s;

      & > * {
        position: relative;
        display: block;
        width: 100%;
        height: 50%;
        padding: 30%;
      }

      .mc-arrow-up {

        &:before {
          content: " ";
          display: inline-block;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, rgba(0, 0, 0, 0) 84%, currentColor 85%), linear-gradient(0deg, currentColor 14%, rgba(0, 0, 0, 0) 17%);
          transform: rotate(45deg) translate3d(-20%, -20%, 0);
          box-sizing: border-box;
        }
      }

      .mc-arrow-down {
        &::before {
          content: " ";
          display: inline-block;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, currentColor 14%, rgba(0, 0, 0, 0) 15%), linear-gradient(0deg, rgba(0, 0, 0, 0) 84%, currentColor 85%);
          transform: rotate(45deg) translate3d(20%, 20%, 0);
          box-sizing: border-box;
        }


      }
    }
  }
}
