@import "~@mcui/mc-reset";
@import "~@mcui/mc-base";
@import "~mc-tinting/theme/mc-tinting@theme=default";

html {
  font-size: 12px;
}

body {
  max-width: 640px;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

h1 {
  text-align: center;
}

.com-title {
  text-align: center;
  margin-bottom: 2rem;
}

.com-btn {
  width: 100%;
  height: 3.5rem;
  line-height: 3.4rem;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  margin: .5em 0;
  border-radius: 3px;
  text-align: center;
}

.style-floor {
  height: 800px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;

  &:nth-child(odd) {
    background: #f5f5f5;
  }
}

.mc-arrow {
  border-radius: 50px;
  overflow: hidden;
}

.mc-arrow-up,
.mc-arrow-down {
  background: #9170fb;
  color: #fff;
}

$active: #EA3333;
#floor_nav {
  position: fixed;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 100;

  & > * {
    display: inline-block;
    padding: 2px .5em;
    border: 1px solid #000;
    margin: 0 5px;
    background: #fff;

    &.active {
      border: 1px solid $active;
      background: $active;
      color: #fff;
    }
  }
}


// DEMO3
.demo3-line {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 988px;
    width: 50%;
    height: 1px;
    background: #ff0000;
  }

  &:before {
    top: 1003px;
    content: "这里距离顶部1000px";
    position: absolute;
    left: 0;
    width: 50%;
    text-align: right;
    color: #ff0000;
  }
}
